@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
   width: 25rem;
   height: 37rem;
   background-color: black;
   
}
.calculator{
    position: relative;
}
h2{
    position: absolute;
    top: 4rem;
    right: 3rem;
    color: white;
    font-size: 3rem;
    margin-left: 1rem;
    padding-bottom: 3rem;
    font-weight: 100;
}
.buttons{
    position: absolute;
    top: 11rem;
    left: 2.5rem;
}
.function_4{
    background-color: #F79E11 ;
    border-radius: 50px;
    color: white;
}


.firstl{
    background-color:#A5A4A5 ;
    border-radius: 50px;
}
.number{
    background-color:#333333 ;
    border-radius: 50px;
    color: white;
}
#virgul{
    background-color:#333333 ;
    border-radius: 50px;
    color: white;

}

.buttons button{
    font-size: 1.5rem;
    width: 4.2rem;
    height: 4.2rem;
    margin: 0.4rem;
    border: none;
    
}
.buttons button:hover{
    background-color: #413d3d;
    cursor: pointer;
    transition: 0.5s;
}

#sıfır{
    padding: 0px 4.75rem;
    border-radius: 50px;
    background-color:#333333 ;
    color: white;
}
#sıfır:hover{
    background-color: #F79E11;
    cursor: pointer;

}


@media screen and (max-width:380px){
    .buttons button{
        width: 4.2rem;
        height: 4.2rem;
        margin: 0.3rem;
    }
    #sıfır{
        padding: 0px 4.65rem;
    }
    .calculator{
        position: absolute;
        top: 6rem;
        left: 2rem;
    }
}
    
@media screen and (max-width:330px){
    .buttons button{
        width: 3.3rem;
        height: 3.3rem;
        margin: 0.3rem;
    }
    #sıfır{
        padding: 0px 3.65rem;
    }
    .calculator{
        position: absolute;
        top: 6rem;
        left: 2rem;
    }
}
    



    
  